/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

/* common or utlites*/

body{
    font-family: 'Poppins', sans-serif;
   
}
 /* nav section  */
nav > ul{
    display: flex;
    justify-content: end;
}
li{
    list-style: none;
    margin-right: 15px;
    padding: 8px;
    
}
ul > li:hover{
    background-color:#e90c9f6e;
    border-radius: 8px;
}
li a{
    text-decoration: none;
    color: black;
}
/* main section  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-one{
    margin-bottom: 40px;
}
.hed-title{
    margin-left: 145px;
    margin-bottom: 50px;
}
.fast-saction{
   display: flex;
  

}
.contener-text{
    width: 40%;
    margin-left: 50px;
    margin-top: 50px;
}
.contener-text a{
    text-decoration: none;
    background-color:#e90c9fc2;
    color:whitesmoke;
    padding: 10px;
   border-radius: 20px;
   box-shadow: 5px 5px 9px gray;
}
.container-img{
    width: 10%;
    margin-left: 200px;
}
 /* logos style  */
 .logo-section{
     display: flex;
     margin-top: 10px;
 }
 .logo{
     margin-left: 20px;
     margin-top: 10px;
     margin-bottom: 20px;
     padding: 20px;
 }



/* Gadgets section */

.gadgets-heading{
    text-align: center;
    margin-top: 20px;
   margin-bottom: 35px;

}
.gadgets-section {
    display: flex;
    flex-direction: column;}

.gadgets{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.gadgets{
    margin-left: 2%;
    border: 2px;
    padding: 5px;
  
}
.gadget{

    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;

}
}
.gadget-img{
    width: 300px;
    height: 256px;

}

.see-more-icon {
    text-decoration: none;
    
}

.fa-star.filled{
  color: #FFC014;
}
.fa-star.empty{
  color: #AEAEAE;
}

.course-info p{
    font-size: 10px;
}
.gadget-bootun{
    margin-bottom: 30px;
}
.gadget-bootun a{
    text-decoration: none;
    margin-left: 85%;
    background-color:#e90c9fc2;
     color:whitesmoke;
     padding: 10px;
     border-radius: 20px;
     box-shadow: 5px 5px 9px gray;

}

/*------------------
 lens section ---
---------------------- */
.lens-section{
    display: flex;
    margin: 20px;
    margin-bottom: 50px;
}
.lens-img{
    margin-left: 60px;
    border-radius: 5px;
}
.lens-text{
    width: 50%;
    margin-left: 20%;

}
.lens-text a{
     text-decoration: none;
     background-color:#e90c9fc2;
     color:whitesmoke;
     padding: 10px;
     border-radius: 20px;
     box-shadow: 5px 5px 9px gray;
    }


/* footer section  */
.end{
    margin: 10px;
    text-align: center;
    background-color: rgb(141, 95, 184);
    color: whitesmoke;
}

/* media queries */
/* mobile devicesh  */
@media only screen and (max-width:688px){
    .container-one{
        width: 100%;
    }
    .fast-saction, .gadgets, .lens-section{
      grid-template-columns: repeat(1, 1fr);
    }
    .fast-saction, .lens-section{
        flex-direction: column;
    }

    
}


/* --------------------
teblet devise   
---------------------------*/
@media only screen and (min-width: 688px) and (max-width: 992px){
   .container-one{
        width: 100%;
    }
    .gadgets ,.container-one{
        grid-template-columns: repeat(2, 1fr);
    }
}